
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@1,200&display=swap');
body{
margin: 0;
padding: 0;
box-sizing: border-box;
width: 100%;
font-family: 'Ysabeau+Infant:ital',sans-serif;
}
section{
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
/* navbar */
 #navbar{
    position: sticky;
    top: 0;
    background:white;
    z-index: 10;
 }
.bold{
    font-size: 25px;
}
li{
    padding: 5px;
}
.nav-link{
font-size: 15px;
font-weight: bold;
border: 2px solid transparent;
} 
.nav-link:hover{
    border-bottom: 2px solid blue;
    transition: .1s;
}
/*home*/
span{
    color: blue;
    font-weight: bold;
}
p{
    font-size: 18px;
}
/*about*/
#about img{
    width: 20rem;
    height: 20rem;
    border-radius: 50px;
}
/*contact*/
form{
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    border-radius: 30px;
}
